# =============================================================================
# MovieBox Environment Variables
# =============================================================================

# TMDB
VITE_TMDB_API_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YzdkZTRmMGQxMmE0OTE0YWZiZDQ0N2M1ZTkyMjVkNyIsIm5iZiI6MTc4MzUzNjAxNS45NTIsInN1YiI6IjZhNGU5OThmZDQ1MjBkNjk3NGNkYzdiOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.H9teXeBsyYlmihwDm_Q_28orLzzHaejf6-91ySu0ixo
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
VITE_TMDB_IMAGE_SIZE=w500

# App
VITE_APP_NAME=Josseun-MovieBox
VITE_APP_VERSION=1.0.0