# =============================================================================
# MovieBox Environment Variables
# =============================================================================

# TMDB
VITE_TMDB_API_READ_ACCESS_TOKEN=
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
VITE_TMDB_IMAGE_SIZE=w500

# App
VITE_APP_NAME=MovieBox
VITE_APP_VERSION=1.0.0